body{
  background-image: url('images/fg.jpg');
  z-index: 1;
  background-repeat:no-repeat;
  background-size: cover;
  background-color: black;
}
.head{
  text-align: center;
  padding: 25px;
  text-decoration:none;
margin-top: 0px;
}
.sawir{
  width: 160px;
  height: 100px;
  float: left;
  margin-top: -28px;
  margin-left: 50px;
  transform: scale(1.3,1.3);
  transition: .4s transform;
}
.sawir:hover{
  transform: scale(1.6,1.6);
  transition: .8s transform;
}
.a{
  text-decoration: none;
  padding: 15px;
  color: white;
  }
  .aa{
    border: 1px solid blue;
    border-radius: 20px;
    background-color:blue;
  }
  .a:hover{
    text-decoration: underline;
    color: black;
    border-radius: 20px;
  /*  border: 1px solid black;*/
  }
  .h1{
  font-weight: bold;
  font-style: italic;
  margin-left: 38%;
  margin-top: 25px;
  color: black;

}
.guud{
  padding:25px;
  border:2px solid yellow;
  border-radius:30px;
  text-decoration: none;
  background-color: black;
  color: white;
}
.div{
  margin-left: 9%;
  margin-top: 70px;
}
.har{
  margin-left: 1%;
}
.bur{
  margin-left: 3%;
}
.bur2{
    margin-left: 3.5%;

}
.bur3{
    margin-left: 4.6%;

}
.hr{
  color: red;
  margin-right: 200px;
  margin-left:-100px;
  background-color: red;
  border: 1px solid white;
}
.seer{
  margin-top: 60px;
  margin-left: 39%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
}
.plogo{
  width:25px;
  height: 15px;
  float: left;
  margin-top: -35px;
  margin-left: 5px;
}
.plogo1{
  width:25px;
  height: 15px;
  float: left;
  margin-top: -35px;
  margin-left: 153px;
}
.glogo{
  width:25px;
  height: 15px;
  float: left;
  margin-top: -37px;
  margin-left: 325px;
}
.whatlogo{
  width:25px;
  height: 20px;
  float: left;
  margin-top: -39px;
  margin-left: 1150px;

}
.fblogo{
  width:25px;
  height: 20px;
  float: left;
  margin-top: -39px;
  margin-left: 1200px;
  clip-path:circle(100%);
}
.div2{
  margin-top: 90px;
  margin-left: 8.3%;
}
.guud2{
  padding:25px;
  border:2px solid yellow;
  border-radius:30px;
  text-decoration: none;
  background-color: black;
  color: white;
}
.har2{
  margin-left: 1%;
}
.div3{
  margin-top: 90px;
  margin-left: 8.3%;
}
.bur4{
  margin-left: 4%;
}
.bur5{
  margin-left: 3.3%;
}
.bur6{
  margin-left: 3.7%;
}
.bur7{
  margin-left: 3.2%;
}
.foot{
  display: flex;
  margin-top: 109px;
  background-color: blue;
}
.a8{
  padding: 5px;
  color: white;
  margin-top: 11px;
  margin-left: 7%;
  text-decoration: none;
}
.p3{
  color: white;
  margin-left: 30%;
}
.a8:hover{
  text-decoration: underline;
  color: black;

}
.foot{
  background-color:black;
  margin-top:125px;
}
.p3{
  color: white;
  margin-left:  200px;
  margin-top: 22px;

}
.a10{
  color: white;
  margin-left: 50px;
margin-top: 22px;
text-decoration: none;
}
.a10:hover{
  text-decoration: underline;
  color: green;
}
.whatlogo2{
  width:25px;
  height: 20px;
  margin-left: 190px;
margin-top: 13px;
padding: 5px;
border:2px solid white;
border-radius: 100%;

}
.whatlogo2:hover{
  background-color: darkgreen;
  transition-timing-function:ease-out;
}
.fblogo2{
  width:25px;
  height: 20px;
  margin-left: 25px;
  margin-top: 13px;
  padding: 5px;
  border:2px solid white;
  border-radius: 100%;
}
.fblogo2:hover{
  background-color: darkblue;
  transition-timing-function:ease-out;
}
