
.head{
  text-align: center;
  padding: 25px;
  text-decoration:none;
margin-top:-7.57px;
background-image: url('images/fg.jpg');
wid
}
.sawir1{
  width: 150px;
  height: 100px;
  float: left;
  margin-top: -28px;
  margin-left: 20px;
  transform: scale(1.3,1.3);
  transition: .4s transform;
}
.sawir1:hover{
  transform: scale(1.6,1.6);
  transition: .8s transform;
}
.a{
  text-decoration: none;
  padding: 15px;
  color: white;
  }
  .aa{
    border: 1px solid blue;
    border-radius: 20px;
    background-color:blue;
  }
  .a:hover{
    text-decoration: underline;
    color: red;
    border-radius: 20px;
  /*  border: 1px solid black;*/
  }
  .hr{
    color: red;
    margin-right: 200px;
    margin-left:240px;
    background-color: red;
    border: 1px solid lightblue;
  }
    .search-box{
      border: 3px solid #000;
      border-radius: 100vh 100vh;
      width: 390px;
      position: absolute;
      top: 30%;
      left: 35%;
      background-color: #ffd000;
    }
    .c1{
      width: 280px;
      height: 50px;
      border-radius: 100vh 0 150vh 100vh;
      outline: none;
      padding: 0 10px;
    }
    i{
      padding: 10px 5px;
    }
    .c2{
      border: none;
      background-color: #ffd000;
      outline: none;
      cursor: pointer;
    }
